<header class="header">
    <div id="logo"> <a href="/"><img src="__PUBLIC__/img/logo.png" title="ATI 工业自动化微官网" alt="ATI 工业自动化微官网"></a> </div>
    <div id="goback"> <a href="javascript:history.go(-1);"><i class="iconfont icon-left"></i></a> </div>
    <div id="menu-icon"><i class="iconfont icon-caidan"></i></div>
</header>
<div class="menu animated">
    <div class="menu-logo"> <img src="__PUBLIC__/img/index_logo.png"> </div>
    <nav>
        <ul>
            <li class="cur"> <a href="../index/about.html">企业简介</a> </li>
            <li> <a href="../index/product.html">产品中心</a> </li>
            <li> <a href="../index/science.html">技术支持</a> </li>
            <li> <a href="../index/exhibition.html">展会活动</a> </li>
            <li> <a href="../index/case.html">解决方案</a> </li>
            <li> <a href="../index/contact.html">联系我们</a> </li>
        </ul>
    </nav>
    <div class="menu-close"> <i class="iconfont icon-2901cuowu"></i> </div>
</div>